@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Shippori+Antique+B1&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#outer-wrap {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    background-color: #aec4e6;
    position: relative;
}


#topcontainer {
    position: relative;
    width: 100%;
    height: 844px;
    z-index: 2;
}



.curve {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 28px;
    z-index: 2;
}

.deco {
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 10;
}

.header {
    background-color: rgba(217, 142, 175, 0.9);
    border: 3px solid #ffffff;
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translateX(-50%) translateY(-50%);
    width: 1000px;
    height: 67.18px;
    z-index: 99;
    padding: 0;
    
}

.navbar {
    align-items: center;
    
}

.navbar .navmenu a {
    
    text-decoration: none;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 23.04px;
    color: #ffffff;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 18px 2px;
    margin: 0;
}

.navmenu li {
    padding: 0px 8px;
    border-right: 2px solid #ffffff;
    text-align: center;
}

.navmenu li span {
    margin-right: 15px;
}

.navmenu a:hover{
    color: #142f58;
}

.midashititle{
    width: 750px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    left: 240px;
    bottom: 65px;
    display: flex;
    justify-content: end;

}


.logo {
    position: absolute;
    bottom: -20px;
    left: 190px;
    z-index: 7;
}


.toptext {
    position: relative;
    text-align: center;
    padding: 30px 30px 30px 100px;
    z-index: 5;
    background-color: #ffffff;
    box-shadow: 10px 10px 30px 30px #ffffff;
}

.toptext p {
    color: #d98eaf;
    font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    font-size: 23.04px;
}

.bg {
    position: relative;
    margin: 0 auto;
    height: 2000px;
    z-index: 1;
}

#two {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    background-image: url("img/introdeco/BG02.png");
    background-repeat: no-repeat;
}

.contenttwo{
    height: 1800px;
}

#slide2 {

    width: 100%;
    height: auto;
    margin-top: 30px;

}

#slide2 .swiper-slide {
    background-position: center;
    background-size: 100%;
    width: auto;
    height: 650px;
    position: relative;
}


#slide2 .opac{
    box-sizing: border-box;
    position: absolute;
    z-index: 99;
    bottom: 26px;
    width: 100%;
    padding: 20px 0px;
    background-color:  rgba(208, 211, 226, 0.801);
    border-right: 15px solid #fceef4;
    border-left: 15px solid #fceef4;
}

.opac p{
          font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20.04px;
    text-align: center;
    line-height: 1.15;
    color: #583014;
}

.opac span{
    font-size: 14px;
}

#slide2 .swiper-slide img{
    border: 15px solid #fceef4;
    box-shadow: 0px 10px 10px 2px #d98eaf;
}


#slider4 .swiper-slide {
    background-position: center;
    background-size: 100%;
    width: auto;
    height: auto;
}


.wrapper-content {
    z-index: 2;
    width: 990px;
    height: auto;
    margin: 0 auto;
}

.titlebox {
    padding-top: 50px
}

.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


.choice2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly
}

.cbox2 {
    background-color: #ffffff;
    width: 394px;
    height: 186px;
    border: 8px solid #85b667;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

}

.cbox2 p {
    text-align: center;
      font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
    padding: 20px 0px 25px 0px;
    font-size: 16px;
    color: #6f4a2a;
}

.cbox2 p span {
      font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    color: #b8545e;
    font-size: 19.2px;
}


#three {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 150px;
    position: relative;
}

.content3 {
    display: flex;
    justify-content: end;
    height: 790px;
    margin-top: 120px;
}

.txtbox {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 730px;
    height: 370px;
    background-image: url("img/mapabg/txtbg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.cbox3 {
    padding: 0px 20px 0px 0px;
    width: 65%;
    height: auto;
    top: 55px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cbox3 p {
    text-align: center;
    padding: 0px 0px 25px 0px;
    font-size: 20px;
    font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #6f4a2a;
}

.cbox3 p span {
    font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
    color: #b8545e;
    font-size: 23.04px;
}

h6 {
    font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
    font-size: 14px;
    margin-bottom: 10px;
    color: #6f4a2a;
}

a {
    margin: 0;
    padding: 0;
    font-size: 15.2px;
      font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 900;
  font-style: normal;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 200px;
    background: #93acd2;
    padding: 1px;
    width: 300px;
}

.button_top {
    background-color: #aec4e6;
    display: block;
    box-sizing: border-box;
    border: 4px solid #d0d3e2;
    width: 100%;
    border-radius: 200px;
    padding: 6px 0px;
    color: #142f58;
    transform: translateY(-0.5em);
    transition: transform 0.1s ease;
}


button:hover .button_top {
    transform: translateY(-0.37em);
}

button:active .button_top {
    transform: translateY(-0.05em);
}



#slide3{
    width: 580px;
    position: absolute;
    left: 40px;
    top: 260px;
}

#slide3 .swiper-horizontal {
    &.swiper-rtl .swiper-button-prev, &.swiper-rtl~.swiper-button-prev, &~.swiper-button-next, .swiper-button-next {
        position: absolute;
        right: 30px;
    }
}

#slide3 .swiper-horizontal {
    &.swiper-rtl .swiper-button-prev, &.swiper-rtl~.swiper-button-prev, &~.swiper-button-prev, .swiper-button-prev {
        position: absolute;
        left: 30px;
    }
}



.swiper-horizontal {

    &.swiper-rtl .swiper-button-prev,
    &.swiper-rtl~.swiper-button-prev,
    &~.swiper-button-next,
    .swiper-button-next {
        position: absolute;
        right: 100px;
    }
}

.swiper-horizontal {

    &.swiper-rtl .swiper-button-next,
    &.swiper-rtl~.swiper-button-next,
    &~.swiper-button-prev,
    .swiper-button-prev {
        position: absolute;
        left: 100px;
    }
}

.divider {
    max-width: 1200px;
}

.divider2 {
    position: absolute;
    z-index: 2;
    bottom: -120px;
}

.trifor{
    background-image:url("img/campdeco/BG4.png"), url("img/background/bg.png");
    background-repeat: no-repeat;
    background-position: bottom, top;
}


#four {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    
    background-repeat: no-repeat;
}

.content4{
    height: 2100px;
}

.polaroid {
    position: relative;
    background-image: url("img/campdeco/Polaroidbg.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 842px;
    margin-top: 20px;
}

.flowerl4 {
    position: absolute;
    bottom: -70px;
    z-index: 2;
}

.flower4r {
    position: absolute;
    right: 0px;
    bottom: -70px;
    z-index: 2;
}

#slider4 {
    padding-top: 50px;
}

#slider4 img {
    width: 743px;
    height: 557px;
}

.polaroid p {
    padding: 15px 0px 10px 0px;
    text-align: center;
    font-size: 23.04px;
        font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #6f4a2a;
}

.campcontent {
    width: auto;
    height: auto;
    margin-top: 90px;
}

.campcontent .wrapper-content {
    display: flex;
    justify-content: space-evenly;
}

.pilihan {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fceef4;
    width: 375px;
    height: 295px;
    align-items: center;
    justify-content: space-evenly;
    padding: 45px 20px 5px 20px;
    border: 12px solid #aec4e6;

}

.paragraf {
    text-align: center;
        font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
    font-size: 19.2px;
    padding-bottom: 15px;
    border-bottom: 2px solid #93acd2;
    color: #6f4a2a;
}

.para2 {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.price {
    display: flex;
        font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
    font-size: 23.04px;
    align-items: flex-end;
    color: #b8545e;
}

.price span {
    font-size: 14px;
}

.judul {
    position: absolute;
    top: -50px;
    background-image: url("img/campdeco/Sakurapoint.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 125px 0px;
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.judul h1 {
    font-size: 23.04px;
    color: #b8545e;
}


#slider4 .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#slider4 .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    opacity: 1;
    background: rgba(200, 208, 242, 0.7);
}

#slider4 .swiper-pagination-bullet-active {
    color: #fff;
    background: #142f58;
}



#five {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("img/buffetdeco/bg5.jpg");
    background-repeat: no-repeat;
}

.content5 {
    width: 100%;
    height: 1100px;
    padding-top: 100px;
}

.boxkiri {
    position: relative;
}

.boxrate {
    position: absolute;
    display: flex;
    width: 637px;
    height: 60px;
    background-color: #ffffff;
    bottom: -10px;
    display: flex;
}

.box5 {
    width: 100%;
    height: 780px;
    background-color: #fceef4;
    border-radius: 50px;
    box-shadow: 15px 15px #d98eaf;
    margin-top: 30px;
}

.boxatas {
    display: flex;

}

#slide5 {
    display: flex;
    position: relative;
    margin: 25px 0px 25px 25px;
    height: 470px;
}

#slide5 .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
    height: auto;
    position: absolute;
    top: 230px;
    z-index: 99;
    padding-right: 2px;
}

#slide5 .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    opacity: 1;
    background: rgba(238, 200, 242, 0.7);
}

#slide5 .swiper-pagination-bullet-active {
    color: #fff;
    background: #b8545e;
}

.boxkanan {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 425px;
    border-radius: 50px;
    padding: 25px;
    margin: 25px 25px 25px 20px;
    border: 7px solid #85b667;
    align-items: center;
    justify-content: center;
}


.boxkanan p {
        font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    text-align: center;
    font-size: 19.2px;
    line-height: 1.15;
    color: #6f4a2a;
}

.boxrate {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.star {
    padding: 14px;
}

.rev p {
        font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    padding: 14px;
    text-align: center;
    font-size: 14px;
    line-height: 1.10;
    color: #b8545e;
}

.boxbawah {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contbawah {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 908px;
    height: 155px;
    background-image: url("img/buffetdeco/bg5small.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.boxbawah p {
        font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
    text-align: center;
    font-size: 23.04px;
    line-height: 1.15;
    color: #ffffff;
}

.txtbawah p {
        font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
    text-align: center;
    font-size: 14px;
    margin-top: 7px;
    color: #b8545e;
}


#footer {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("img/footer/websitehotel-dvr_06.jpg");
    background-repeat: no-repeat;
}

.contentfooter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 550px;
    padding-top: 450px;
    justify-content: space-evenly;
}

.top {
    display: flex;
    justify-content: center;
}

.middle {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.bottom {
    display: flex;
    justify-content: center;
}

.top button {
    border: none;
    cursor: pointer;
    border-radius: 200px;
    background: #d98eaf;
    padding: 1px;
    width: 798px;
}

.top .button_top {
    background-color: #fceef4;
    display: block;
    box-sizing: border-box;
    border: 4px solid #f4b4cf;
    line-height: 1.15;
    width: 100%;
    height: 143px;
    border-radius: 200px;
    padding: 6px 0px;
    color: #3a1c0b;
    transform: translateY(-0.9em);
    transition: transform 0.1s ease;
    background-image: url("img/footer/bng.png");
    background-size: 1100px;
    background-position: center;
        font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 14px;
}


.middle button {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background: #d0d3e2;
    padding: 2px;
    width: 380px;
}

.middle .button_top {
    background-color: #ffffff;
    display: block;
    box-sizing: border-box;
    border: 4px solid #d0d3e2;
    line-height: 1.15;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    padding: 20px 0px;
    color: #142f58;
    transform: translateY(-0.6em);
    transition: transform 0.1s ease;
        font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #583014;
    font-size: 29px;
}

.mr .button_top{
    background-image: url("img/footer/red.png");
    background-repeat: no-repeat;
    background-position: 300px;
}
.ml .button_top{
    background-image: url("img/footer/blue.png");
    background-repeat: no-repeat;
    background-position: 300px;
}


.bottom button {
    border: none;
    cursor: pointer;
    border-radius: 40px;
    background: #d98eaf;
    padding: 1px;
    width: 500px;
}

.bottom .button_top {
    background-color: #fceef4;
    display: block;
    box-sizing: border-box;
    border: 4px solid #d98eaf;
    width: 100%;
    height: 120px;
    border-radius: 40px;
    padding: 30px 0px;
    color: #142f58;
    transform: translateY(-0.5em);
    transition: transform 0.1s ease;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #d98eaf;
    font-size: 33.18px;
    background-image: url("img/footer/botbg.png"), url("img/footer/pink.png");
    background-repeat: no-repeat;
    background-position: center, 410px;
}

.flowertop{
    position: absolute;
    z-index: 2;
    top: 180px;
}

@media screen and (max-width: 1200px) {}